@model IEnumerable<MyFirstAppWeb.Models.Item>

@{
    ViewData["Title"] = "Itens";
}

<h1>Itens</h1>

<p>
    <a asp-action="Create">Adicionar novo item</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <input type="text" name="termo" placeholder="Item...">
        <button type="submit">Buscar</button>
        <a asp-action="Index">Voltar</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_item">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_item">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_item">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
